node_modules/
*.pdf
*.pptx
node_modules/
.DS_Store
notizen/anleitungen/03_Bücherregal/
.env
LMStudio-MCP/
fetch-mcp/
unterricht/GPG5b_LB4_2_Antikes\ Griechenland/Westermann_Trio5_Schulbuch_Kapitel_Griechenland/
